<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>体育俱乐部管理</title>
    <link rel="stylesheet" href="../../layui/css/layui.css" media="all">
</head>
<body>

    <form class="layui-form" action="">
        <div class="layui-form-item">
            <label class="layui-form-label">俱乐部名</label>
            <div class="layui-input-inline">
                <input type="text" id="clubname"  placeholder="请输入俱乐部名" autocomplete="off" class="layui-input">
            </div>
            <button type="button" class="layui-btn layui-btn-normal" lay-filter="btn_query" id="btn_search" lay-submit>
                <i class="layui-icon">&#xe615;</i>查询
            </button>
            <button type="button" class="layui-btn layui-btn-normal" lay-event="add" id="btn_add">
                <i class="layui-icon">&#xe608;</i> 新增
            </button>
        </div>

    </form>
    <table id="datatable" lay-filter="list"></table>

<script src="../../layui/layui.js"></script>

<script type="text/html" id="toolbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="detail">详情</button>
        <button class="layui-btn layui-btn-sm" lay-event="update">编辑</button>
        <button class="layui-btn layui-btn-sm" lay-event="delete">删除</button>
    </div>
</script>

<script type="text/html" id="vip_temp">
    {{#  if(d.vipflag == 0){ }}
        <text text-align="center">否</text>
    {{#  } else if(d.vipflag == 1){ }}
        是
    {{#  } }}
</script>

<script>
    layui.use(['layer', 'form', 'table', 'util', 'laypage','upload'], function(){
        var table = layui.table;
        var $ = layui.jquery;
        var form = layui.form;
        var laypage = layui.laypage;
        // var upload = layui.upload;
        var total = 0;

        //第一个实例
        table.render({
            elem: '#datatable'
            ,height: 312
            ,url: '/club/all' //数据接口
            ,page: true //开启分页
            ,request: {
                pageName: 'pageNum', //页码的参数名称，默认：page
                limitName: 'pageSize' //每页数据量的参数名，默认：limitindex
            }
            ,cols: [[ //表头
                {field: '', title: '序号', width:80, sort: true, fixed: 'center'}
                ,{field: 'clubname', title: '俱乐部名', width:200, fixed: 'left'}
                ,{field: 'clubicon', title: 'logo', width:80, fixed: 'center'}
                ,{field: 'charge', title: '负责人', width:80, fixed: 'center'}
                ,{field: 'mobile', title: '电话', width:150, fixed: 'center'}
                ,{field: 'wechat', title: '微信', width: 150, fixed: 'center'}
                ,{field: 'address', title: '地址', width: 350 , fixed: 'center'}
                ,{field: 'vipflag', title: '是否VIP', width: 100, fixed: 'center', templet: '#vip_temp'}
                ,{fixed: 'left', title: '操作', align:'center', toolbar: '#toolbar'}
            ]]
            ,done:function (res,curr,count) {
                total = res.count;
            }
            ,limit:10
            ,limits:[10,15,20]
            ,defaultToolbar: ['filter', 'print', 'exports', {
                title: '提示' //标题
                ,layEvent: 'LAYTABLE_TIPS' //事件名，用于 toolbar 事件中使用
                ,icon: 'layui-icon-tips' //图标类名
            }]
        });

        laypage.render({
            elem:'datatable',
            count:total,
            limit:10,
            groups:5,
            jump: function(obj, first){

            }

        });


        //查询
        $('#btn_search').click(function () {
            var clubname = $('#clubname').val();
            table.reload('datatable', {
                url:'/club/all',
                where: {
                    clubname: clubname,
                },
                page : {
                    curr : 1
                }
            });
        });

        $('#btn_add').click(function () {
            showEditModel();
        });

        //对工具条监听
        table.on('tool(list)', function(obj){ //注：tool 是工具条事件名，test 是 table 原始容器的属性 lay-filter="对应的值"
            var data = obj.data;        //获得当前行数据

            debugger;
            var layEvent = obj.event;   //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr;            //获得当前行 tr 的 DOM 对象（如果有的话）
            if(layEvent === 'detail'){ //查看
                //do somehing
            } else if(layEvent === 'delete'){ //删除
                layer.confirm('确定删除吗？', function(index){
                    obj.del();
                    layer.close(index);
                    $.ajax({
                        url:'/club/del/'+ data.clubid,
                        method:'get',
                        // data:JSON.stringify(data),
                        dataType:'JSON',
                        // contentType:'application/json',
                        success:function(res){
                            debugger
                            if(res.code='0'){
                                layer.alert(res.msg, {icon: 1});
                            }
                            else
                                layer.alert(res.msg, {icon: 5});
                        },
                    }) ;
                });
            } else if(layEvent === 'update'){ //编辑
                showEditModel();
                //回显数据
                form.val('data_form',data);
            } else if(layEvent === 'add'){  //新增

            } else if(layEvent === 'LAYTABLE_TIPS'){
                layer.alert('Hi，头部工具栏扩展的右侧图标。');
            }
        });
        //-------------------

        //提交表单
        layui.use('form', function(){
            var form = layui.form;
            //监听提交
            form.on('submit(form_submit)', function(val){
                var data =  val.field;
                var clubid = data.clubid;
                var url = clubid==''?'/club/add':'/club/update';
                $.ajax({
                    url:url,
                    method:'post',
                    data:JSON.stringify(data),
                    dataType:'JSON',
                    contentType:'application/json',
                    success:function(res){
                        if(res.code='0'){
                            layer.alert(res.msg, {icon: 1});
                        }
                        else
                            layer.alert(res.msg, {icon: 5});
                    },
                }) ;
            });
        });
        //-------------

        // 显示表单弹窗
        function showEditModel(data) {
            layer.open({
                type: 1,
                area: ['800px', '600px'],
                title: data ? '编辑俱乐部' : '新增俱乐部',
                content: $('#club_form_html').html(),
                btnAlign:'l'
            });
        }

        //上传图片
        layui.use('upload', function() {
            debugger;
            var upload = layui.upload;
            var uploadInst = upload.render({
                elem: '#btn_upload' //绑定元素
                , url: '/classimg/upload' //上传接口
                , done: function (res) {
                    debugger
                    if (res.code == "0") {
                        $("#in_clubicon").val(res.msg);
                        layer.alert(res.msg, {icon: 1});
                    } else {
                        layer.alert(res.msg, {icon: 5});
                    }

                }
                , error: function () {
                    //请求异常回调
                    layer.alert('上传失败', {icon: 5});
                }
            });
        });

    });
</script>
</body>

<!-- 弹窗 -->
<script type="text/html" id="club_form_html">
    <form lay-filter="data_form" class="layui-form model-form">
        <input name="clubid" type="hidden" value=""/>
        <div class="layui-form-item">
            <label class="layui-form-label">俱乐部名</label>
            <div class="layui-input-block">
                <input name="clubname" placeholder="请输入俱乐部名" type="text" class="layui-input"
                       maxlength="20" lay-verify="required" required/>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">负责人</label>
                <div class="layui-input-inline">
                    <input name="charge" placeholder="请输入负责人" type="text" class="layui-input"
                           maxlength="20" lay-verify="required" required/>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">电话号码</label>
                <div class="layui-input-inline">
                    <input name="mobile" placeholder="请输入电话号码" type="text" class="layui-input"
                           lay-verify="required" required/>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <div class="layui-inline">
                <label class="layui-form-label">微信号</label>
                <div class="layui-input-inline">
                    <input name="wechat" placeholder="请输入微信号" type="text" class="layui-input"/>
                </div>
            </div>
            <div class="layui-inline">
                <label class="layui-form-label">是否VIP</label>
                <div class="layui-input-inline">
                    <input type="radio" name="vipflag" value="1" title="是">
                    <input type="radio" name="vipflag" value="0" title="否" checked>
                </div>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">俱乐部地址</label>
            <div class="layui-input-block">
                <input name="address" placeholder="请输入地址" type="text" class="layui-input"
                       lay-verify="required" required/>
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">俱乐部</label>
            <div class="layui-input-block">
                <button type="button" class="layui-btn" id="btn_upload">
                    <i class="layui-icon">&#xe67c;</i>上传图片
                </button>
                <input name="clubicon" type="hidden" value="" id="in_clubicon">
                <img src="" style="width: 200px;height: 150px;" >
            </div>
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">简介</label>
            <div class="layui-input-block">
                <textarea name="content" placeholder="请输入俱乐部简介" class="layui-textarea"></textarea>
            </div>
        </div>

        <div class="layui-form-item text-right">
            <button class="layui-btn layui-btn-primary" type="button" ew-event="closeDialog">取消</button>
            <button class="layui-btn" lay-filter="form_submit" lay-submit>保存</button>
        </div>
    </form>
</script>

</html>