<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.letansuo.sportsback.biz.experience.mapper.ExperienceMapper" >
    <resultMap id="BaseResultMap" type="com.letansuo.sportsback.biz.experience.model.Experience" >
        <id column="experienceId" property="experienceId" jdbcType="INTEGER" />
        <result column="name" property="name" jdbcType="VARCHAR" />
        <result column="typeId" property="typeId" jdbcType="INTEGER" />
        <result column="clubId" property="clubId" jdbcType="INTEGER" />
        <result column="operatorId" property="operatorId" jdbcType="INTEGER" />
        <result column="price" property="price" jdbcType="DECIMAL" />
        <result column="specialprice" property="specialPrice" jdbcType="DECIMAL" />
        <result column="bottomprice" property="bottomPrice" jdbcType="DECIMAL" />
        <result column="groupprice" property="groupPrice" jdbcType="DECIMAL" />
        <result column="priceflag" property="priceFlag" jdbcType="TINYINT" />
        <result column="age" property="age" jdbcType="VARCHAR" />
        <result column="address" property="address" jdbcType="VARCHAR" />
        <result column="lng" property="lng" jdbcType="VARCHAR" />
        <result column="lat" property="lat" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="TINYINT" />
        <result column="flag" property="flag" jdbcType="TINYINT" />
        <result column="teacher" property="teacher" jdbcType="VARCHAR" />
        <result column="phone" property="phone" jdbcType="VARCHAR" />
        <result column="stunumber" property="stuNumber" jdbcType="INTEGER" />
        <result column="startDate" property="startDate" jdbcType="VARCHAR" />
        <result column="endDate" property="endDate" jdbcType="VARCHAR" />
        <result column="createTime" property="createTime" jdbcType="VARCHAR" />
        <result column="descrite" property="descrite" jdbcType="LONGVARCHAR" />
    </resultMap>

    <parameterMap id="Exprience" type="com.letansuo.sportsback.biz.experience.model.Experience"/>

    <sql id="where_all">
        <where>
            <if test="name != null and name !=''">
                and name like #{name}"%"
            </if>
            <if test="experienceId != null and experienceId !=''">
                and experienceId = #{experienceId}
            </if>
            <if test="typeId != null and typeId !=''">
                and typeId = #{typeId}
            </if>
            <if test="clubId != null and clubId !=''">
                and clubId = #{clubId}
            </if>
            <if test="status != null and status !=''">
                and status = #{status}
            </if>
            <if test="signupStart != null and signupStart !=''">
                and signupStart = #{signupStart}
            </if>
            <if test="signupEnd != null and signupEnd !=''">
                and signupEnd = #{signupEnd}
            </if>
            <if test="createStart != null and createStart !=''">
                and createTime &gt;= #{createStart}
            </if>
            <if test="createEnd != null and createEnd !=''">
                and createTime &lt;= #{createEnd}
            </if>
        </where>

    </sql>

    <select id="selectExpricence" parameterMap="Exprience" resultMap="BaseResultMap" >
        select experienceId, name, typeId, clubId, operatorId, price, specialprice, bottomprice,
        groupprice, priceflag, age, address, status, flag, teacher, phone, signupStart, signupEnd, startDate, endDate, stunumber, createTime,
        descrite
        from d_experience
        <include refid="where_all"/>
        ORDER BY typeId, createTime
    </select>

    <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
        select experienceId, name, typeId, clubId, operatorId, price, specialprice, bottomprice,
        groupprice, priceflag, age, address, status, flag, teacher, phone, stunumber, createTime,
        descrite,signupEnd, startDate, startDate, stunumber
        from d_experience
        where experienceId = #{experienceId,jdbcType=INTEGER}
    </select>

    <insert id="insert" parameterMap="Exprience" useGeneratedKeys="true" keyProperty="experienceId" >
        insert into d_experience (name, typeId, clubId,
        operatorId, price, specialprice,
        bottomprice, groupprice, priceflag,
        age, address, lng, lat, status,
        flag, teacher, phone, signupStart, signupEnd,
        startDate, endDate, stunumber, createTime, descrite
        )
        values (#{name,jdbcType=VARCHAR}, #{typeId,jdbcType=INTEGER}, #{clubId,jdbcType=INTEGER},
        #{operatorId,jdbcType=INTEGER}, #{price,jdbcType=DECIMAL}, #{specialPrice,jdbcType=DECIMAL},
        #{bottomPrice,jdbcType=DECIMAL}, #{groupPrice,jdbcType=DECIMAL}, #{priceFlag,jdbcType=TINYINT},
        #{age,jdbcType=VARCHAR}, #{address,jdbcType=VARCHAR}, #{lng,jdbcType=VARCHAR}, #{lat,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT},
        #{flag,jdbcType=TINYINT}, #{teacher,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{signupStart,jdbcType=VARCHAR}, #{signupEnd,jdbcType=VARCHAR},
        #{startDate,jdbcType=VARCHAR}, #{endDate,jdbcType=VARCHAR}, #{stuNumber,jdbcType=INTEGER}, #{createTime,jdbcType=VARCHAR}, #{descrite,jdbcType=LONGVARCHAR}
        )
    </insert>

    <update id="updateByPrimaryKey" parameterMap="Exprience" >
        update d_experience
        <trim prefix="set" suffixOverrides=",">
        <if test="name != null and name !=''">
            name = #{name},
        </if>
        <if test="typeId != null and typeId !=''">
            typeId = #{typeId},
        </if>
        <if test="clubId != null and clubId !=''">
            clubId = #{clubId},
        </if>
        <if test="operatorId != null and operatorId !=''">
            operatorId = #{operatorId},
        </if>
        <if test="price != null and price !=''">
            price = #{price},
        </if>
        <if test="specialPrice != null and specialPrice !=''">
            specialprice = #{specialPrice},
        </if>
        <if test="bottomPrice != null and bottomPrice !=''">
            bottomprice = #{bottomPrice},
        </if>
        <if test="groupPrice != null and groupPrice !=''">
            groupprice = #{groupPrice},
        </if>
        <if test="age != null and age !=''">
            age = #{age},
        </if>
        <if test="address != null and address !=''">
            address = #{address},
        </if>
        <if test="lng != null and lng !=''">
            lng = #{lng},
        </if>
        <if test="lat != null and lat !=''">
            lat = #{lat},
        </if>
        <if test="status != null and status !=''">
            status = #{status},
        </if>
        <if test="flag != null and flag !=''">
            flag = #{flag},
        </if>
        <if test="teacher != null and teacher !=''">
            teacher = #{teacher},
        </if>
        <if test="phone != null and phone !=''">
            phone = #{phone},
        </if>
        <if test="stuNumber != null and stuNumber !=''">
            stunumber = #{stuNumber},
        </if>
        <if test="signupStart != null and signupStart !=''">
            signupStart = #{signupStart},
        </if>
        <if test="signupEnd != null and signupEnd !=''">
            signupEnd = #{signupEnd},
        </if>
        <if test="startDate != null and startDate !=''">
            startDate = #{startDate},
        </if>
        <if test="endDate != null and endDate !=''">
            endDate = #{endDate},
        </if>
        <if test="createTime != null and createTime !=''">
            createTime = #{createTime},
        </if>
        <if test="descrite != null and descrite !=''">
            descrite = #{descrite},
        </if>

    </trim>
        where experienceId = #{experienceId,jdbcType=INTEGER}
    </update>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
        delete from d_experience
        where experienceId = #{experienceId,jdbcType=INTEGER}
    </delete>

</mapper>